<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="qlbanhangVQ.mssql.somee.com" connectionString="Data Source=qlbanhangVQ.mssql.somee.com;persist security info=False;initial catalog=qlbanhangVQ;user id=vinhquy1402_SQLLogin_1;pwd=p1yoxf6u2n"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyTaiKhoan.Properties.Settings.db_TaiKhoanConnectionString"
   connectionString="Data Source=DESKTOP-6MF64C4\SQLEXPRESS;Initial Catalog=db_TaiKhoan;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyTaiKhoan.Properties.Settings.ql_UsersConnectionString"
   connectionString="Data Source=DESKTOP-6MF64C4\SQLEXPRESS;Initial Catalog=ql_Users;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyTaiKhoan.Properties.Settings.db_HoaDonConnectionString"
   connectionString="Data Source=DESKTOP-6MF64C4\SQLEXPRESS;Initial Catalog=db_HoaDon;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyTaiKhoan.Properties.Settings.db_QuanLyHoaDonConnectionString"
   connectionString="Data Source=DESKTOP-6MF64C4\SQLEXPRESS;Initial Catalog=db_QuanLyHoaDon;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyTaiKhoan.Properties.Settings.qlConnectionString"
   connectionString="Data Source=DESKTOP-6MF64C4\SQLEXPRESS;Initial Catalog=ql;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyTaiKhoan.Properties.Settings.qlbanhangVQConnectionString"
   connectionString="Data Source=qlbanhangVQ.mssql.somee.com;Initial Catalog=qlbanhangVQ;Persist Security Info=True;User ID=vinhquy1402_SQLLogin_1;Password=p1yoxf6u2n"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>